$linkDark: #323941;
$linkLight: #afbcca;
$linkHover: #df3923;

$darkText: #313131;

@mixin block-padding {
  padding: 20px;
}

@mixin button-size {
  height: 36px;
  padding: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: #323941;
  }

  &:active {
    background-color: #24282e;
  }
}

@mixin product-status {
  font-size: 0.7rem;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
}

@mixin section-title {
  font-size: 1.2rem;
  color: #313131;
  font-weight: 500;
}
